header{
    text-align: right;
}
header a{
    padding-right: 20px;
}
footer{
    background-color:#f0f0f0;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}
#loc p{
    padding-left: 30px;
}
p{
    font-family: Arial;
}
#container{
    padding-top:50px;
    text-align: center;
    height:80%
}
#lang a{
    text-decoration: none;
    padding-left: 12px;
}
footer a{
    text-decoration: none;
    color: black;
    font-family: Arial;
}
header a{
    text-decoration: none;
    color: black;
    font-family: Arial;
}
.myButton {
	background-color:#f0f0f0;
	border:0px;
	display:inline-block;
	color:rgb(77, 76, 76);
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
}
#f1{
    position: absolute;
    left:30;
    background-color:#f0f0f0;
    width:100%
}
#f1 a{
    padding-left: 30px;
    color:rgb(77, 76, 76);
    font-size: 1.15em;
}
#f2{
    position: absolute;
    right: 30px;
    background-color:#f0f0f0;
}
#f2 a{
    padding-right: 20px;
    color:rgb(77, 76, 76);
    font-size: 1.3em;
}